{{ define "head" }}
<link rel="stylesheet" href="/static/css/index.css" />
{{ end }}

{{ define "body" }}
<main>
  <h2>Transformer</h2>
  <div id="drop-area">
    <form action="/clasify" method="post" enctype="multipart/form-data">
      <input id="input-element" name="file" type="file" multiple accept="image/*" onchange="handleFiles(this.files)">
      <label id="input-label" for="input-element">Select or drop your files</label>
      <button id="submit-drop" type="submit">Submit</button>
    </form>
  </div>
  <ul id="file-list"></ul>
</main>
{{ end }}

{{ define "scripts" }}
<script src="/static/js/index.js"></script>
{{ end }}
