{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/layout.css" />
  {{ template "head" }}
  <title>Transformer</title>
</head>

<body>

</body>
<main>
  <header class="header-title">
    <h1><a href="/">Transformer</a></h1>
    {{ if . }}
    <h4 class="subtitle">{{.}}</h4>
    {{ end }}
  </header>
  {{ template "body" }}
</main>
{{ template "scripts" }}

</html>

{{ end }}
