main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  height: 100%;
  width: 100%;
}

h2 {
  text-align: center;
  text-decoration: underline wavy var(--quartary-color);
}

.backdrop {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;
}

.backdrop.show {
  display: flex;
}

#drop-area.highlight {
  background-color: var(--primary-color);
}

#input-element {
  display: none;
}

#input-label {
  cursor: pointer;
  padding: 1em;

  color: var(--tertiary-color);
  background-color: var(--quartary-color);
}
