.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  margin-top: 1em;
}

.ac {
  text-decoration: none;
  color: var(--primary-color);
  padding: 1em;

  border: 2px solid var(--primary-color);
}

.cs {

}
