:root {
  --primary-color: #DDE61F; /* Golden Glow */
  --secundary-color: #1A5632; /* Nordic Pine */
  --tertiary-color: #0F1822; /* Digital Slate */
  --quartary-color: #D6D7D5; /* Nordic Mist */
}

@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Archivo-Regular.ttf);
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/Archivo-Medium.ttf);
}
@font-face {
  font-family: 'Archivo';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/Archivo-Semibold.ttf);
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;

  color: var(--primary-color);
  background-color: var(--tertiary-color);
  font-family: 'Archivo', monospace;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  height: 100%;
  width: 100%;

  p {
    text-align: center;
    width: 80%;
    font-size: 0.8rem;
    line-height: 2;
    letter-spacing: 1px;
  }
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;

  h1 {
    font-size: 2rem;
    line-height: 1;
    font-weight: 600;
    letter-spacing: .4rem;
    text-align: center;
    text-transform: uppercase;
    animation: 1.6s ease flicker infinite alternate;
    margin-bottom: 0;

    a {
      text-decoration: none;
      color: var(--primary-color);
    }
  }

  h4 {
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    align-self: flex-end;
    margin-top: 0;
    opacity: 0.9;
  }
}

@media screen and (min-width: 600px) {
  main {
    p {
      line-height: 2;
      letter-spacing: 1px;
    }
  }
  .header-title {
    h1 {
      font-size: 3.50rem;
    }
    h4 {
      font-size: 1.4rem;
    }
  }
}

@keyframes flicker {
  0% {
    opacity: .9;
    text-shadow: 2px 2px 4px var(--primary-color);
  }
  100% {
    opacity: 1;
    text-shadow: 2px 2px 8px var(--quartary-color);
  }
}
