@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

.title {
  @apply font-lato text-6xl font-bold text-[#EDF2EF];
  animation: 1s ease-in-out appearing;
}

@keyframes appearing {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.92);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
