@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
}

.title {
  @apply font-lato text-6xl font-bold text-titleText;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  animation: 800ms ease-in-out appearing, 1.2s ease flicker infinite alternate;
}

.subtitle {
  @apply font-lato text-titleText;
  text-transform: uppercase;
  opacity: 0;
  letter-spacing: 0.2rem;
  animation: 800ms ease-in-out appearing forwards;
  animation-delay: 1.2s;
}

@keyframes appearing {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.92);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes flicker {
  0% {
    opacity: 0.8;
    text-shadow: 2px 2px 4px #6096ba;
  }
  100% {
    opacity: 1;
    text-shadow: 2px 2px 8px #6096ba;
  }
}
