:root {
  font-family: Avenir, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000814;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: #64dfdf;
  --color-secondary: #56cfe1;
  --color-tertiary: #48bfe3;
  --color-quaternary: #4ea8de;
  --color-quinary: #5390d9;
  /*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
  */
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-items: center;
  /* align-items: center; */
  overflow: hidden;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--color-primary);
  /* box-shadow:  3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary); */
  animation: shadows 5.0s ease-in infinite, scaler 4.0s ease-in-out infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 0px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 0px 3px 0 var(--color-secondary),
      0px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: -3px 3px 0 var(--color-secondary),
      0px 6px 0 var(--color-tertiary), 0px -3px var(--color-quaternary);
  }
  40% {
    text-shadow: -3px 3px 0 var(--color-secondary),
      -6px 6px 0 var(--color-tertiary), 3px -3px var(--color-quaternary),
      6px -6px 0 var(--color-quinary);
  }
  50% {
    text-shadow: -3px 3px 0 var(--color-secondary),
      -6px 6px 0 var(--color-tertiary), 3px -3px var(--color-quaternary),
      0px -6px 0 var(--color-quinary);
  }
  60% {
    text-shadow: -3px 3px 0 var(--color-secondary),
      -6px 6px 0 var(--color-tertiary), 3px -3px var(--color-quaternary),
      6px -6px 0 var(--color-quinary);
  }
  70% {
    text-shadow: -3px 3px 0 var(--color-secondary),
      0px 6px 0 var(--color-tertiary), 0px -3px var(--color-quaternary);
  }
  80% {
    text-shadow: 0px 3px 0 var(--color-secondary),
      0px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 0px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes scaler {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
